<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Detalles factura</h1>
	<button><%= link_to 'Atras', client_bills_path %></button>
	<p>Destinatario: <%= @bill.receiver %></p>
	<p>Cuit/cuil: <%= @bill.cuit_l %></p>
	<p>Monto: $<%= @bill.amount %></p>
	<p>Fecha: <%= @bill.date %></p>
	<p>Detalle: <%= @bill.details %></p>
	<button><%= link_to 'Modificar factura', edit_client_bill_path(@bill.client_id,@bill.id) %></button>
	<button><%= link_to 'Eliminar',client_bill_path(@bill.client_id,@bill.id),method: :delete,confirm: 'Seguro quiere eliminar la factura?' %></button>
	</body>
</html>