<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Pagina inicio</h1>
	<table>
		<% @clientes.each do |cliente| %>
		<tr>
			<td><%= cliente.name %></td>
			<td><%= cliente.last_name %></td>
			<td><%= cliente.dni %></td>
			<td><%= cliente.birthdate %></td>
			<td><%= link_to 'Modificar cliente', edit_client_path(cliente.id) %></td>td
		</tr>
		<% end %>
		<% if @clientes.size==0 %>
			NO HAY CLIENTES
		<% end %>
	</table>
<%= link_to 'Registrar nuevo cliente', new_client_path %>
</body>
</html>