<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Pagina inicio</h1>
	<%= @cliente.name %><br>
	<%= @cliente.last_name %><br>
	<%= @cliente.dni %><br>
	<%= @cliente.birthdate %><br>
	<%= @cliente.age %>años<br>
	<%= @cliente.cu_type %>
	<%= @cliente.cu_value %><br>
	<% @cliente.contacts.each do |cont| %>
		<%= cont.type_cont %>
		<%= cont.value_cont %>
	<% end %><br>
	<%= link_to 'Modificar cliente', edit_client_path(@cliente.id) %>
	<%= link_to 'Eliminar', @cliente,method: :delete,confirm: 'Seguro quiere eliminar el cliente?' %>
	<%= link_to 'Estadísticas', stats_client_path(@cliente.id) %><br>
	<%= link_to 'Atras', clients_path %>

</body>
</html>