<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Detalles de cliente</h1>
	<button><%= link_to 'Atras', clients_path,:id =>'atras' %></button>
	<p>Nombre: <%= @cliente.name %></p>
	<p>Apellido: <%= @cliente.last_name %></p>
	<p>DNI: <%= @cliente.dni %></p>
	<p>Fecha de nacimiento: <%= @cliente.birthdate %></p>
	<p>Edad: <%= @cliente.age %>años</p>
	<p><%= @cliente.cu_type.capitalize %> <%= @cliente.cu_value %></p>
	<% @cliente.contacts.each do |cont| %>
		<p><%= cont.type_cont.capitalize %> <%= cont.value_cont %></p>
	<% end %>
	<button><%= link_to 'Modificar cliente', edit_client_path(@cliente.id) %></button>
	<button><%= link_to 'Eliminar', @cliente,method: :delete,confirm: 'Seguro quiere eliminar el cliente?' %></button>
	<button><%= link_to 'Estadísticas', stats_client_path(@cliente.id) %></button>

</body>
</html>